html, body {
  margin: 0;
  padding: 0;
  font: 100% "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

html {
  background: #FAF9F5 url(images/bg.png);
}

body {
  width: 80%;
  min-width: 600px;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-size: 48px;
}

h1 em {
  font-weight: 300;
  letter-spacing: 0;
  font-style: normal;
}

h1 a {
  color: #333;
}

h1 a:hover {
  color: #707376;
  text-decoration: none;
}

h2 {
  font: 32px/48px "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 0;
}

a, .faux_link {
  color: #7ac;
  cursor: pointer;
  text-decoration: none;
}

a:hover, .faux_link:hover {
  text-decoration: underline;
}

.button, input[type="submit"], a.button {
  text-decoration: none;
  color: #333;
  display: block;
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfc 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%,#e0e0e0 100%); /* W3C */
  text-shadow: 0 2px 0 #fcfcfc;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 2px #aaa;
  padding: 0 24px;
  font: 20px/48px "Helvetica Neue", sans-serif;
  cursor: pointer;
  margin: 12px 0;
}

.button:hover, input[type="submit"]:hover, a.button:hover {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #E8EBED 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#E8EBED)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#E8EBED 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#E8EBED 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#E8EBED 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#E8EBED 100%); /* W3C */
  text-shadow: 0 2px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E8EBED',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 2px #b9babb;
  color: #707376;
  text-decoration: none;
}

.round_none, a.round_none {
  border-radius: 0;
  border-right-color: #fcfcfc;
  border-left-color: #b9babb;
}

.round_left, a.round_left {
  border-radius: 4px 0 0 4px;
  border-right-color: #fcfcfc;
}

.round_right, a.round_right {
  border-radius: 0 4px 4px 0;
  border-left-color: #b9babb;
}

.round_bottom, a.round_bottom {
  border-radius: 0 0 4px 4px;
}

.button.small {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left-color: #b9babb;
}

.button.action, input[type="submit"].action, a.button.action {
  background: #fc9d80; /* Old browsers */
  background: -moz-linear-gradient(top, #fc9d80 0%, #e02c1f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc9d80), color-stop(100%,#e02c1f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fc9d80 0%,#e02c1f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fc9d80 0%,#e02c1f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fc9d80 0%,#e02c1f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fc9d80 0%,#e02c1f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc9d80', endColorstr='#e02c1f',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-shadow: 0 1px 0 #444;
  border-color: #F57847;
  box-shadow: 0 2px #960000;
}

.button.action:hover, input[type="submit"].action:hover, a.button.action:hover {
  background: #fcb19a; /* Old browsers */
  background: -moz-linear-gradient(top, #fcb19a 0%, #e6554a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcb19a), color-stop(100%,#e6554a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcb19a 0%,#e6554a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcb19a 0%,#e6554a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcb19a 0%,#e6554a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcb19a 0%,#e6554a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb19a', endColorstr='#e6554a',GradientType=0 ); /* IE6-9 */
}

input[type="text"].new_deck_input, input[type="password"].new_deck_input {
  min-width: 400px;
  height: 48px;
  float: left;
  margin: 12px 0;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 2px 0 #999;
}

.add_card.button {
  border-radius: 0 0 4px 4px;
  margin: 0;
}

ul.bland {
  padding: 0;
  list-style-type: none;
}

label span {
  display: block;
  margin-top: 24px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid #ccc;
  padding: 3px 6px;
  font: 20px/24px "Helvetica Neue", sans-serif;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
  border-color: #ddd;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #8af;
  outline: none;
}

.card textarea.small {
  height: 150px;
}

.add_card_sides .card {
  margin: 0;
}

.add_card_sides .card textarea.left {
  border-radius: 4px 0 0 0;
  padding: 48px;
}

.add_card_sides .card textarea.right {
  border-radius: 0 4px 0 0;
  padding: 48px;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 48px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  margin: 48px 0;
}

.card_loc {
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .card_loc {
  border-bottom: 1px solid #ccc;
}

.half_width {
  width: 50%;
}

.card .left, .card .right {
  width: 50%;
  border: 1px solid #ccc;
  height: 100%;
  font-size: 24px;
  height: 300px;
  box-sizing: border-box;
  padding: 0 24px;
  background: #fff;
}

.card .right {
  border-left: none;
}

.card p {
  margin: 24px 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

textarea {
  resize: none;
}

::selection {
  background: #FF6600; /* Safari */
  text-shadow: none;
}

::-moz-selection {
  background: #FF6600; /* Firefox */
  text-shadow: none;
}

.main_screen p {
}

.register_box {
  margin-left: 24px;
  border-radius: 24px;
  background: rgba(0, 0, 0, .1);
  float: left;
  padding: 24px;
}

.block {
  display: block;
}

.full_width {
  width: 100%;
}

.hr10 {
  margin-right: 10px;
}

.register_p {
  font-size: 12px;
  margin-left: 48px;
  clear: both;
}
