<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}aquamentis</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/main.css"/>
  {% if current_user.is_authenticated() %}
  <meta name="username" content="{{ current_user.get_id() }}"/>
  {% endif %}
  {% for asset_url in ['/static/js/jquery.js', '/static/js/underscore.js', '/static/js/backbone.js', '/static/js/thermos.js', '/static/js/main.js'] %}
    <script src="{{ asset_url }}"></script>
  {% endfor %}
</head>
<body>
  {% if current_user.is_authenticated() %}
    <p class="sidebar">Welcome back, {{ current_user.get_id() }}</p>
  {% endif %}
  <h1>Aqua<em>mentis</em></h1>
  {% block content %}
  {% endblock %}
</body>
</html>
